@import "mixins";

.container {
    padding-left: 2rem;
    padding-right: 2rem;

    @include for-tablet-landscape-up {    
      padding-left: 0;
      padding-right: 0;
    }
}

.container_grid {
  display: block;
  
  @include for-tablet-portrait-up {    
    display: grid; 
    grid-template-columns: 4fr 1fr 6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 2rem; 
    grid-template-areas: "col_photo col_spacer col_content";
  }

  .col_photo { 
    margin-bottom: 2rem;

    @include for-tablet-portrait-up {    
      margin-bottom: 0rem;
    }

    grid-area: col_photo;
  }

  .col_spacer { 
    grid-area: col_spacer;
  }

  .col_content {
    grid-area: col_content;
  }
}